<p id="notice"><%= notice %></p>

<% provide(:title, 'Jobs') %>

<p>
  <font size='6'><%= @job.title %></font>
</p>

<p>
  <strong>Job Description:</strong><br>
  <%= @job.content %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.price %>
</p>

<p>
  <strong>  Zipcode:</strong>
  <%= @job.zipcode %>
</p>

<%= link_to 'Back', search_path %>
